In [9]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

from pydataset import data

# read titanic data from acquire file data 
import acquire
import env


df  = acquire.get_titanic_data()
train, validate, test = acquire.prep_titanic_data(df)
train.head()

,survived,pclass,age,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
301,1,3,30.189296,2,0,23.2500,0,1,1,0
290,1,1,26.000000,0,0,78.8500,1,0,0,1
779,1,1,43.000000,0,1,211.3375,0,0,0,1
356,1,1,22.000000,0,1,55.0000,0,0,0,1
147,0,3,9.000000,2,2,34.3750,0,0,0,1

In [10]:
# create X & y version of train, where y is a series with just the target variable and X are all the features. 

X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [22]:
knn_titanic = KNeighborsClassifier(n_neighbors = 3, weights = "uniform")

In [23]:
knn_titanic.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [24]:
y_pred = knn_titanic.predict(X_train)

In [25]:
y_pred_proba = knn_titanic.predict_proba(X_train)

In [26]:
print('Accuracy of KNN classifier on training set: {:.2f}'
         .format(knn_titanic.score(X_train, y_train)))

Accuracy of KNN classifier on training set: 0.82

In [27]:
print(confusion_matrix(y_train, y_pred))

[[266  41]
 [ 47 144]]

In [28]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.87      0.86       307
           1       0.78      0.75      0.77       191

    accuracy                           0.82       498
   macro avg       0.81      0.81      0.81       498
weighted avg       0.82      0.82      0.82       498